<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-5 col-xs-offset-5">
    
     <%=form_tag({controller: 'login', action:'forgot_post', method: 'post'}, {:class =>'form-signin', :id => 'forgot-email-form'}) do%>
      <h2 class="form-signin-heading">Enter your email below</h2>
      <h5>Try to remember this new password :P</h5>
      <p><%=text_field_tag(:forgot_user_email, nil, :class =>'form-control', :placeholder => "Email address")%>
      	<span id ="err-email"></span>
      </p>
      <p><%=submit_tag("Email me a new password", :class =>"btn btn-lg btn-primary btn-block")%></p>
    <%end %>
  </div>
</div>
