@font-face {
  font-family: aaargh;
  src: font-url('Aaargh.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: aleo;
  src: font-url('Aleo-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: aleo;
  src: font-url('Aleo-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
