// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #888;
}
h4 {
	color: #999
}
.banner {
	height: 200px;
	display:block;
	background:#5F9ED2;
	margin-top:-25px;
	padding:30px 0 50px 0;
	width:100%;
	text-align: center;
  & p, & h3, & h4 {
  font-family: aaargh;
  }
  & h1{
    font-size: 400%;
    font-family: aleo;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  }
}

.align-center {
	text-align:center;
}
.error-field {
	border-color: red;
	-webkit-box-shadow: 0 0 1em red;
					box-shadow: 0 0 1em red;
	
}

.success-field {
	
	-webkit-box-shadow: none;
					box-shadow: none;	
}
