.site-item:hover {
  cursor: pointer;
}

.scroll {
	height: 500px;
  overflow-y:auto;
}

.fc-day, .fc-event {
  &:hover {
    cursor: pointer;
  }
}

.delete-site {
  position: relative;
  float: right;
  right: 5px;
}
.errors {
  font-weight: bold;
  color: red;
}