// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #343434;
}

button {
	width:175px;
}

.entry-box{
  display:block;
  background:#5e5e5e;
  padding: 10px 0 10px 0px;
  height:500px;
  overflow:scroll;
  border-radius: 8px;
  & ul{
    list-style-type: none;
    & .entry{
      color: #eee;
      border-radius: 5px;
      cursor:pointer;
      margin: 0 10px 0 -30px;
      padding:2px 0 2px 20px;
    }
    & .selected {
      background: #d9534f;
      color: #333;
      font-weight:bold;
    }
  }
}

