// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{
	background-color: #d5d5d5
}
button {
	width:175px;
}
#entry-select
{
}
select 
{
	width: 400px;
  border: 1px solid #555;
  border-radius: 5px;
  size: 20;
  option.selected
  {
  	background: rgba(255,0,0,0.3);
  }
}

