- if @user.sites.empty?
  %p No sites created yet
- else
  .list-group
    - @user.sites.each do |site|
      %a.list-group-item.site-item{'data-site' => "#{site.id}"}
        = site.name
        
%button#btn-add-site.btn.btn-success Add Site